.header{
    padding : 5px 20px ;
    background: rgb(143, 165, 232);
}

.title{
    color : rgb(255, 255, 255);
    text-decoration: none;
}

.login,.register{
    float: right;
    text-decoration:  none;
    color: aliceblue;
    padding-top: 10px;
}

.logout,.new-post{
    float: right;
    color: aliceblue;
    padding-top: 10px;
}

#new_post{
    position: absolute;
    top: 120px;
    left: 70px;
    height: 25px;
}
#new_post a{
    color:#555;
    text-decoration:none;
    font-size: 20px;
    font-weight: bolder;
}

#new_post :hover{
    border-left: 3px solid #000;
    color: #000;
}
.col-md-3{
    padding-top: 20px;
    width: 50%;
}



